{% extends 'encyclopedia/layout.html' %}

{% block title %} Create New Page {% endblock %}

{% block body %}
  <h1 class="mb-3">Create New Page</h1>

  <form action="{% url 'create_wiki' %}" method='POST'>

    {% csrf_token %}
    
    <div class="mb-2">
      <input name="title" placeholder="Title" required>
    </div>

    <div class="mb-2">
      <textarea name="content" ></textarea>
    </div>
    

    <div style="width: 60%;" class="text-right" >
      <button class="btn btn-success">Save New Page</button>
    </div>

  </form>


{% endblock %}